In [73]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (12.0, 6.0)

from geopy.geocoders import Nominatim
from geopy.distance import vincenty
import numpy as np
import math
import seaborn as sns
from operator import itemgetter

pd.set_option('display.float_format', lambda x: '%.5f' % x) # pandas
np.set_printoptions(precision=5, suppress=True) # numpy

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

# seaborn plotting style
sns.set(style='ticks', context='poster')

## Get CA weather station lat and long

In [27]:
weather_stations = pd.read_csv('./NSRDB_StationsMeta.csv')
weather_stations.head()

,USAF,CLASS,SOLAR,STATION,ST,NSRDB_LAT (dd),NSRDB_LON(dd),NSRDB_ELEV (m),TIME ZONE,ISH_LAT (dd),ISH_LON(dd),ISH_ELEV (m),20070316
0,690140,3,0,EL TORO MCAS,CA,33.66700,-117.73300,116,-8,33.66700,-117.73300,116,nan
1,690150,2,0,TWENTYNINE PALMS,CA,34.30000,-116.16700,626,-8,34.30000,-116.16700,626,nan
2,690160,3,0,TUSTIN MCAF,CA,33.70000,-117.83300,18,-8,33.70000,-117.83300,18,nan
3,690190,2,0,ABILENE DYESS AFB,TX,32.43300,-99.85000,545,-6,32.43300,-99.85000,545,nan
4,690230,2,0,WHIDBEY ISLAND NAS,WA,48.35000,-122.66700,10,-8,48.35000,-122.66700,10,nan

In [84]:
CA_weather_stations = weather_stations[weather_stations['ST'] == 'CA']
CA_weather_stations.head()

,USAF,CLASS,SOLAR,STATION,ST,NSRDB_LAT (dd),NSRDB_LON(dd),NSRDB_ELEV (m),TIME ZONE,ISH_LAT (dd),ISH_LON(dd),ISH_ELEV (m),20070316
0,690140,3,0,EL TORO MCAS,CA,33.66700,-117.73300,116,-8,33.66700,-117.73300,116,nan
1,690150,2,0,TWENTYNINE PALMS,CA,34.30000,-116.16700,626,-8,34.30000,-116.16700,626,nan
2,690160,3,0,TUSTIN MCAF,CA,33.70000,-117.83300,18,-8,33.70000,-117.83300,18,nan
363,722810,3,0,NAF,CA,32.81700,-115.68300,-13,-8,32.81700,-115.68300,-13,nan
364,722860,2,0,MARCH AFB,CA,33.90000,-117.25000,462,-8,33.90000,-117.25000,462,nan

In [85]:
CA_weather_stations = CA_weather_stations.loc[:, ['USAF', 'STATION', 'CLASS', 'ISH_LAT (dd)', 'ISH_LON(dd)']]

In [86]:
CA_weather_stations.rename({'ISH_LAT (dd)':'latitude', 'ISH_LON(dd)':'longitude'}, axis=1, inplace = True)
CA_weather_stations.head()

       USAF           STATION  CLASS  latitude  longitude
0    690140      EL TORO MCAS      3  33.66700 -117.73300
1    690150  TWENTYNINE PALMS      2  34.30000 -116.16700
2    690160       TUSTIN MCAF      3  33.70000 -117.83300
363  722810               NAF      3  32.81700 -115.68300
364  722860         MARCH AFB      2  33.90000 -117.25000

## Create a USAF : station_name dictionary

In [87]:
st_name = dict(zip(CA_weather_stations.USAF, CA_weather_stations.STATION))
st_name

{690140: 'EL TORO MCAS',
 690150: 'TWENTYNINE PALMS',
 690160: 'TUSTIN MCAF',
 722810: 'NAF',
 722860: 'MARCH AFB',
 722865: 'ONTARIO',
 722866: 'NORTON AFB/SAN BERN',
 722867: 'BEAUMONT 1 E',
 722868: 'PALM SPRINGS INTL',
 722869: 'RIVERSIDE MUNI',
 722874: 'LOS ANGELES DOWNTOWN USC CAMP',
 722880: 'BURBANK-GLENDALE-PASSADENA AP',
 722885: 'SANTA MONICA MUNI',
 722886: 'VAN NUYS AIRPORT',
 722895: 'LOMPOC (AWOS)',
 722897: 'SAN LUIS CO RGNL',
 722899: 'CHINO AIRPORT',
 722900: 'SAN DIEGO LINDBERGH FIELD',
 722903: 'SAN DIEGO/MONTGOMER',
 722904: 'CHULA VISTA BROWN FIELD NAAS',
 722906: 'SAN DIEGO NORTH ISLAND NAS',
 722909: 'IMPERIAL BEACH REAM FIELD NAS',
 722910: 'SAN NICHOLAS ISLAND',
 722920: 'SANTA CATALINA CATALINA ARPT',
 722925: 'SAN CLEMENTE IS NAAS',
 722926: 'CAMP PENDLETON MCAS',
 722927: 'CARLSBAD/PALOMAR',
 722930: 'SAN DIEGO MIRAMAR NAS',
 722934: 'OCEANSIDE MUNICIPAL',
 722950: 'LOS ANGELES INTL ARPT',
 722953: 'MOJAVE',
 722955: 'TORRANCE MUNICIPAL ARPT',
 722956: 'JACK NORTHROP FLD H',
 722970: 'LONG BEACH DAUGHERTY FLD',
 722975: 'LOS ALAMITOS',
 722976: 'FULLERTON MUNICIPAL',
 722977: 'SANTA ANA JOHN WAYNE AP',
 723805: 'NEEDLES AIRPORT',
 723810: 'EDWARDS AFB',
 723815: 'DAGGETT BARSTOW-DAGGETT AP',
 723816: 'LANCASTER GEN WM FOX FIELD',
 723820: 'PALMDALE AIRPORT',
 723826: 'INYOKERN',
 723830: 'SANDBERG',
 723840: 'BAKERSFIELD MEADOWS FIELD',
 723890: 'FRESNO YOSEMITE INTL AP',
 723895: 'PORTERVILLE (AWOS)',
 723896: 'VISALIA MUNI (AWOS)',
 723898: 'HANFORD MUNI ARPT [ISIS]',
 723910: 'POINT MUGU NF',
 723925: 'SANTA BARBARA MUNICIPAL AP',
 723926: 'CAMARILLO (AWOS)',
 723927: 'OXNARD AIRPORT',
 723930: 'VANDENBERG AFB',
 723935: 'VANDENBERG RANGE',
 723940: 'SANTA MARIA PUBLIC ARPT',
 723965: 'PASO ROBLES MUNICIPAL ARPT',
 724800: 'BISHOP AIRPORT',
 724810: 'CASTLE AFB',
 724815: 'MERCED/MACREADY FLD',
 724828: 'VACAVILLE NUT TREE',
 724830: 'SACRAMENTO EXECUTIVE ARPT',
 724833: 'MATHER FIELD',
 724836: 'MCCLELLAN AFB',
 724837: 'BEALE AFB',
 724838: 'YUBA CO',
 724839: 'SACRAMENTO METROPOLITAN AP',
 724915: 'MONTEREY NAF',
 724917: 'SALINAS MUNICIPAL AP',
 724920: 'STOCKTON METROPOLITAN ARPT',
 724926: 'MODESTO CITY-COUNTY AP',
 724927: 'LIVERMORE MUNICIPAL',
 724930: 'OAKLAND METROPOLITAN ARPT',
 724935: 'HAYWARD AIR TERM',
 724936: 'CONCORD CONCORD-BUCHANAN FIEL',
 724940: 'SAN FRANCISCO INTL AP',
 724945: 'SAN JOSE INTL AP',
 724955: 'NAPA CO. AIRPORT',
 724957: 'SANTA ROSA (AWOS)',
 724973: 'CHICO MUNICIPAL',
 725845: 'BLUE CANYON AP',
 725846: 'TRUCKEE-TAHOE',
 725847: 'SOUTH LAKE TAHOE',
 725905: 'UKIAH MUNICIPAL AP',
 725910: 'RED BLUFF MUNICIPAL ARPT',
 725920: 'REDDING MUNICIPAL ARPT',
 725945: 'ARCATA AIRPORT',
 725946: 'CRESCENT CITY FAA AI',
 725955: 'MONTAGUE SISKIYOU COUNTY AP',
 725957: 'MOUNT SHASTA',
 725958: 'ALTURAS',
 745046: 'MADERA',
 745048: 'OROVILLE',
 745056: 'RAMONA',
 745058: 'WATSONVILLE',
 745060: 'ALAMEDA NAS',
 745090: 'MOUNTAIN VIEW MOFFETT FLD NAS',
 745160: 'TRAVIS FIELD AFB',
 746110: 'BICYCLE LAKE (AAF)',
 746120: 'CHINA LAKE NAF',
 747020: 'LEMOORE REEVES NAS',
 747040: 'EL MONTE EMSU',
 747185: 'IMPERIAL',
 747187: 'PALM SPRINGS THERMAL AP',
 747188: 'BLYTHE RIVERSIDE CO ARPT'}

## Create a USAF: (Lat, long) dictionary

In [88]:
st_CA = CA_weather_stations.loc[:, ['USAF', 'latitude', 'longitude']]

In [89]:
st_CA.index = st_CA.USAF

In [90]:
st_CA.drop(columns = 'USAF', inplace =True)

In [91]:
st_dict = st_CA.to_dict('index')

In [100]:
st_dict

{690140: {'latitude': 33.667, 'longitude': -117.73299999999999},
 690150: {'latitude': 34.3, 'longitude': -116.167},
 690160: {'latitude': 33.7, 'longitude': -117.833},
 722810: {'latitude': 32.817, 'longitude': -115.68299999999999},
 722860: {'latitude': 33.9, 'longitude': -117.25},
 722865: {'latitude': 34.067, 'longitude': -117.65},
 722866: {'latitude': 34.1, 'longitude': -117.23299999999999},
 722867: {'latitude': 33.933, 'longitude': -116.96700000000001},
 722868: {'latitude': 33.833, 'longitude': -116.5},
 722869: {'latitude': 33.95, 'longitude': -117.45},
 722874: {'latitude': 34.05, 'longitude': -118.23299999999999},
 722880: {'latitude': 34.2, 'longitude': -118.35},
 722885: {'latitude': 34.016999999999996, 'longitude': -118.45},
 722886: {'latitude': 34.217, 'longitude': -118.48299999999999},
 722895: {'latitude': 34.667, 'longitude': -120.46700000000001},
 722897: {'latitude': 35.233000000000004, 'longitude': -120.633},
 722899: {'latitude': 33.967, 'longitude': -117.633},
 722900: {'latitude': 32.733000000000004, 'longitude': -117.167},
 722903: {'latitude': 32.817, 'longitude': -117.133},
 722904: {'latitude': 32.583, 'longitude': -116.98299999999999},
 722906: {'latitude': 32.7, 'longitude': -117.2},
 722909: {'latitude': 32.567, 'longitude': -117.117},
 722910: {'latitude': 33.25, 'longitude': -119.45},
 722920: {'latitude': 33.4, 'longitude': -118.417},
 722925: {'latitude': 33.016999999999996, 'longitude': -118.583},
 722926: {'latitude': 33.3, 'longitude': -117.35},
 722927: {'latitude': 33.133, 'longitude': -117.28299999999999},
 722930: {'latitude': 32.867, 'longitude': -117.133},
 722934: {'latitude': 33.217, 'longitude': -117.35},
 722950: {'latitude': 33.933, 'longitude': -118.4},
 722953: {'latitude': 35.067, 'longitude': -118.15},
 722955: {'latitude': 33.8, 'longitude': -118.333},
 722956: {'latitude': 33.917, 'longitude': -118.333},
 722970: {'latitude': 33.833, 'longitude': -118.167},
 722975: {'latitude': 33.783, 'longitude': -118.05},
 722976: {'latitude': 33.867, 'longitude': -117.98299999999999},
 722977: {'latitude': 33.683, 'longitude': -117.867},
 723805: {'latitude': 34.766999999999996, 'longitude': -114.617},
 723810: {'latitude': 34.9, 'longitude': -117.867},
 723815: {'latitude': 34.85, 'longitude': -116.8},
 723816: {'latitude': 34.733000000000004, 'longitude': -118.21700000000001},
 723820: {'latitude': 34.633, 'longitude': -118.083},
 723826: {'latitude': 35.667, 'longitude': -117.833},
 723830: {'latitude': 34.75, 'longitude': -118.71700000000001},
 723840: {'latitude': 35.433, 'longitude': -119.05},
 723890: {'latitude': 36.783, 'longitude': -119.71700000000001},
 723895: {'latitude': 36.033, 'longitude': -119.06700000000001},
 723896: {'latitude': 36.317, 'longitude': -119.4},
 723898: {'latitude': 36.317, 'longitude': -119.617},
 723910: {'latitude': 34.117, 'longitude': -119.117},
 723925: {'latitude': 34.433, 'longitude': -119.85},
 723926: {'latitude': 34.217, 'longitude': -119.083},
 723927: {'latitude': 34.2, 'longitude': -119.2},
 723930: {'latitude': 34.75, 'longitude': -120.583},
 723935: {'latitude': 34.717, 'longitude': -120.56700000000001},
 723940: {'latitude': 34.917, 'longitude': -120.46700000000001},
 723965: {'latitude': 35.667, 'longitude': -120.633},
 724800: {'latitude': 37.367, 'longitude': -118.35},
 724810: {'latitude': 37.383, 'longitude': -120.56700000000001},
 724815: {'latitude': 37.283, 'longitude': -120.51700000000001},
 724828: {'latitude': 38.367, 'longitude': -121.95},
 724830: {'latitude': 38.5, 'longitude': -121.5},
 724833: {'latitude': 38.55, 'longitude': -121.3},
 724836: {'latitude': 38.667, 'longitude': -121.4},
 724837: {'latitude': 39.133, 'longitude': -121.43299999999999},
 724838: {'latitude': 39.1, 'longitude': -121.56700000000001},
 724839: {'latitude': 38.7, 'longitude': -121.583},
 724915: {'latitude': 36.6, 'longitude': -121.867},
 724917: {'latitude': 36.667, 'longitude': -121.6},
 724920: {'latitude': 37.9, 'longitude': -121.23299999999999},
 724926: {'latitude': 37.633, 'longitude': -120.95},
 724927: {'latitude': 37.7, 'longitude': -121.81700000000001},
 724930: {'latitude': 37.717, 'longitude': -122.21700000000001},
 724935: {'latitude': 37.667, 'longitude': -122.117},
 724936: {'latitude': 38.0, 'longitude': -122.05},
 724940: {'latitude': 37.617, 'longitude': -122.4},
 724945: {'latitude': 37.367, 'longitude': -121.93299999999999},
 724955: {'latitude': 38.217, 'longitude': -122.28299999999999},
 724957: {'latitude': 38.516999999999996, 'longitude': -122.81700000000001},
 724973: {'latitude': 39.8, 'longitude': -121.85},
 725845: {'latitude': 39.3, 'longitude': -120.71700000000001},
 725846: {'latitude': 39.317, 'longitude': -120.133},
 725847: {'latitude': 38.9, 'longitude': -120.0},
 725905: {'latitude': 39.133, 'longitude': -123.2},
 725910: {'latitude': 40.15, 'longitude': -122.25},
 725920: {'latitude': 40.516999999999996, 'longitude': -122.31700000000001},
 725945: {'latitude': 40.983000000000004, 'longitude': -124.1},
 725946: {'latitude': 41.783, 'longitude': -124.23299999999999},
 725955: {'latitude': 41.783, 'longitude': -122.46700000000001},
 725957: {'latitude': 41.333, 'longitude': -122.333},
 725958: {'latitude': 41.5, 'longitude': -120.53299999999999},
 745046: {'latitude': 36.983000000000004, 'longitude': -120.117},
 745048: {'latitude': 39.5, 'longitude': -121.617},
 745056: {'latitude': 33.033, 'longitude': -116.917},
 745058: {'latitude': 36.933, 'longitude': -121.78299999999999},
 745060: {'latitude': 37.733000000000004, 'longitude': -122.31700000000001},
 745090: {'latitude': 37.4, 'longitude': -122.05},
 745160: {'latitude': 38.266999999999996, 'longitude': -121.93299999999999},
 746110: {'latitude': 35.283, 'longitude': -116.617},
 746120: {'latitude': 35.683, 'longitude': -117.68299999999999},
 747020: {'latitude': 36.333, 'longitude': -119.95},
 747040: {'latitude': 34.083, 'longitude': -118.03299999999999},
 747185: {'latitude': 32.833, 'longitude': -115.583},
 747187: {'latitude': 33.633, 'longitude': -116.167},
 747188: {'latitude': 33.617, 'longitude': -114.71700000000001}}

## Use geopy to get lat, long from an address

In [111]:
addr = 'University of California, Berkeley, CA 94720'
geolocator = Nominatim()

In [112]:
location = geolocator.geocode(addr)
location

Location((37.87631055, -122.238859269, 0.0))

## Caculate distance between this location and all weather station, find the nearest station

In [113]:
distances = {}
for st in st_dict.items():
    distances[st[0]] = vincenty((location.latitude, location.longitude), (st[1]['latitude'], st[1]['longitude'])).miles

In [114]:
cloest = sorted(distances.items(), key = itemgetter(1))[0][0]

In [115]:
st_name[cloest]

'ALAMEDA NAS'